<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick a station</title>
</head>
<body>
    <div id="content">
        <div id="stations">
            <h4>station</h4>
            <div id="selectedStation"></div>
            <input type="text" id="stationInput" placeholder="Station name" list="list_stations" autocorrect="off" autocomplete="off">
        </div>
        <div id="timetable" class="not-visible">
            <h4>Timetable</h4>
            <div id="timetable-messages"></div>
            <div id="timetable-update-time"></div>
            <table id="timetable-table" class="hide-material-type-info">
                <thead>
                    <tr>
                        <th>Departs</th>
                        <th>From</th>
                        <th>Type</th>
                        <th>Destination</th>
                        <th>Composition
                            <button class="material-info-toggle-button">Details</button></th>
                    </tr>
                </thead>
                <tbody id="timetableBody"></tbody>
            </table>
        </div>
    </div>
</body>
</html>